@model IEnumerable<GRV.Models.AlquilerCoche>

@{
    ViewBag.Extra = "Alquiler de Coches";
    ViewBag.Title = "G.R.V" + " - " + ViewBag.Extra;
}

<h2>@ViewBag.Extra</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComaniaAlquiler)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionRecogida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCoche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NPlazas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NCoches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfreceSeguro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SillaNinio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComaniaAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionRecogida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCoche)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NPlazas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCoches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfreceSeguro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SillaNinio)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.AlquilerCocheID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.AlquilerCocheID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.AlquilerCocheID })
            </td>
        </tr>
    }

</table>
