@model GRV.Models.BilleteTren

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BilleteTren</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Compania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstacionOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstacionOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstacionDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstacionDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsTrenCafetería)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsTrenCafetería)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPlazas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPlazas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraLlegada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BilleteTrenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
